In [6]:
# import library
import pandas as pd
import xml.etree.ElementTree as et

# create function
def transform_xml(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.iter('Transaction'):
        dict = attr.copy()
        dict.update(xml.attrib)
        
        yield dict
        
# transform data
etree = et.parse('transactions.xml')
eroot = etree.getroot()
trans = transform_xml(eroot)

# create DataFrame
df = pd.DataFrame(trans)

# view DataFrame
print(df)

     Customer_ID                                       Product_Name    Sales  \
0              2                                           Avery 49      5.9
1              3     SANFORD Liquid Accent™ Tank-Style Highlighters    13.01
2              3                                         Xerox 1968    49.92
3              3           Acme® Preferred Stainless Steel Scissors    41.64
4              3                                                V70  1446.67
...          ...                                                ...      ...
9421        3402      Jet-Pak Recycled Peel 'N' Seal Padded Mailers   447.87
9422        3402       Eldon Spacemaker® Box, Quick-Snap Lid, Clear    13.23
9423        3402  Chromcraft Bull-Nose Wood Oval Conference Tabl...  2215.93
9424        3403  Tenex 46" x 60" Computer Anti-Static Chairmat,...    506.5
9425        3403                      Staples #10 Colored Envelopes   172.48

     Order_ID
0       88525
1       88522
2       88523
3       88523
4       88523
...       ...
9421    87532
9422    87532
9423    87533
9424    87530
9425    87533

[9426 rows x 4 columns]

In [7]:
# import library
import pandas as pd
import xml.etree.ElementTree as et

In [8]:
# create function
def transform_xml(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.iter('Transaction'):
        dict = attr.copy()
        dict.update(xml.attrib)
        
        yield dict

In [9]:
# transform data
etree = et.parse('transactions.xml')
eroot = etree.getroot()
trans = transform_xml(eroot)

In [10]:
# create DataFrame
df = pd.DataFrame(trans)

In [11]:
# view DataFrame
print(df)

     Customer_ID                                       Product_Name    Sales  \
0              2                                           Avery 49      5.9
1              3     SANFORD Liquid Accent™ Tank-Style Highlighters    13.01
2              3                                         Xerox 1968    49.92
3              3           Acme® Preferred Stainless Steel Scissors    41.64
4              3                                                V70  1446.67
...          ...                                                ...      ...
9421        3402      Jet-Pak Recycled Peel 'N' Seal Padded Mailers   447.87
9422        3402       Eldon Spacemaker® Box, Quick-Snap Lid, Clear    13.23
9423        3402  Chromcraft Bull-Nose Wood Oval Conference Tabl...  2215.93
9424        3403  Tenex 46" x 60" Computer Anti-Static Chairmat,...    506.5
9425        3403                      Staples #10 Colored Envelopes   172.48

     Order_ID
0       88525
1       88522
2       88523
3       88523
4       88523
...       ...
9421    87532
9422    87532
9423    87533
9424    87530
9425    87533

[9426 rows x 4 columns]

In [12]:
# checking shape of data
df.shape

(9426, 4)

##### What is the total sales for order 10080

In [14]:
# What is the total sales for order 10080
df[df['Order_ID']=='10080']

     Customer_ID                               Product_Name   Sales Order_ID
3746        1413  Fellowes 17-key keypad for PS/2 interface  637.04    10080